
:root {
    --queue-template-col: 1fr 10fr 3fr 2fr 2fr;
}


/* Disables the number increment button on input[type=number]*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    transform: translateY(calc(-100% - .25rem));
}

.isChanging[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    transform: translateY(calc(-100% - .25rem));
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* Disables the number increment button on input[type=number]*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.poppins {
    font-family: Poppins;
}

.roboto {
    font-family: Roboto;
}


.entirePage {
    position: absolute !important;
    width: 100vw !important;
    height: 100vh !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.backArrows {
    font-size: 2rem;
    background: var(--secondary);
    color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dodongLogo {
    background-image: url(../pictures/dlogoonly.svg);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0;
}

#dodongLogo+div {
    font-size: 2.2rem;
    text-align: center;
    color: var(--dodong-secondary);
}

.text-center {
    text-align: center;
}

.strikeThrough {
    overflow: hidden;
    text-align: center;
}

.strikeThrough:after,
.strikeThrough::before {
    background-color: white;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.strikeThrough::before {
    right: 0.5em;
    margin-left: -50%;
}

.strikeThrough::after {
    left: 0.5em;
    margin-right: -50%;
}

#nav {
    background: var(--secondary);
}

#pageCont {
    position: relative;
}

#MODAL>div {
    background: var(--primary);
}

.fAwesome {
    width: 100%;
    height: 100%;
}

#player-container {
    max-height: 150px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 2rem;
}

#player-extra {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 3rem;
}

#player-extra>button {
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    color: white;
}

#player-extra>button:active> :is(svg, img) {
    width: 30px;
    height: 30px;
}

#repeatBtn.active {
    color: var(--dodong-primary);
}

#control-container {
    width: 100%;
    max-width: 200px;
    align-items: center;
}

#control-container button {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--secondary);
    color: white;
    border: none;
}

#control-container button:last-of-type {
    width: 40px;
    height: 40px;
}

#control-container>button:last-of-type:active :is(svg, img) {
    width: 95%;
    height: 95%;
}

#volume-slider {
    cursor: pointer;
    height: 20px;
    background: rgb(19, 170, 61);
    background: linear-gradient(90deg, rgba(19, 170, 61, 1) 0%, rgba(228, 255, 0, 1) 47%, rgba(255, 40, 40, 1) 90%);
}

#volume-slider>div {
    background: var(--secondary);
    right: 0;
    width: 50%;
    height: 100%;
}

#playpauseButton {
    padding-left: .3rem;
}

#queue-container {
    overflow-y: auto;
}

.queue_item {
    font-size: 0.9rem;
    font-family: Poppins;
    color: white;
    border-bottom: thin solid var(--secondary);
    cursor: pointer;
    display: grid;
    grid-template-columns: var(--queue-template-col);
    padding: .7rem 0;
    position: relative;
    grid-gap: .25rem;
}

.queue_item>div:first-of-type {
    text-align: center;
}

.queue_item:hover {
    background: var(--secondary);
}

.delTrack {
    position: absolute;
    /* font-size: 2rem; */
    padding: 0rem 0.5rem;
    color: var(--dodong-primary);
    font-weight: bold;
    background: transparent;
    border: none;
    display: none;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
}

.queue_item:hover>.delTrack {
    display: flex;
}

.queue_item > div {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.queue_item > .tooLong {
    margin-right: 2rem;
}

.queue_item > .tooLong::after {
    content: "...";
    position: absolute;
    right: -0.1rem;
    background-color: var(--primary);
}

.queue_item:hover > .tooLong::after {
    background: var(--secondary);
}

.queue_item > .bot {
    color: dodgerblue;
}

#connectionStatus {
    background: var(--dodong-primary);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    padding: .5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: monospace;
    /* For Development Purposes */
    /* display: none; */
}

.slideUp {
    transition: all 0.5s ease-in-out;
    transform: translateY(-100%);
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100%);
    }
}

#queue-container.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: monospace;
    color: grey;
}

#SLexpandBtn {
    position: absolute;
    font-size: 3rem;
    font-family: bebas;
    border: none;
    background: transparent;
    color: var(--tritiary);
    font-weight: bold;
    right: 0.5rem;
    opacity: 0.8;
}


#SLcont {
    position: absolute;
    background: var(--secondary);
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    padding: 1rem;
}

#SLcont.expanded {
    transform: translate(-.5rem);
}

#SLctrlBtn {
    display: flex;
    gap: 10px;
}

#SLctrlBtn>button {
    width: 100%;
    padding: .5rem;
    font-family: Poppins;
    background: var(--secondary);
    color: white;
    border: none;
    box-shadow: 0px 0px 7px 2px var(--primary);
}

#SLctrlBtn>button:active {
    box-shadow: 0px 0px 10px 2px var(--primary) inset;
}

#SLexpandBtn.expanded {
    opacity: 1;
}

#SLResults {
    font-family: Roboto;
}

#queue-header {
    display: grid;
    grid-template-columns: var(--queue-template-col);
    grid-gap: .25rem;
    font-family: Poppins;
    font-size: 1rem;
    color: var(--tritiary);
    border-bottom: thin solid var(--tritiary);
    font-weight: 600;
}

#import_cTitle {
    font-family: Bebas;
    letter-spacing: 1px;
}

#import_cThumbnail {
    width: calc(150px - 2rem);
}

#navCont {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

#navCont button {
    font-size: 1rem;
    font-family: Roboto;
    background: transparent;
    color: var(--tritiary);
    border: none;
    padding: 0.5rem;
    font-weight: bold;
}

#navCont button:disabled {
    color: var(--dodong-primary);
}

#navCont button.selected {
    color: #cecece;
}

/* Delete this if queue.seek() gets faster */

#seek-range {
    border-radius: 50px;
    height: 10px;
    overflow: hidden;
    position: relative;
    background: var(--tritiary);
}

#seek-range>div {
    background: var(--dodong-primary);
    height: 100%;
    position: absolute;
    width: 50px;
    left: 0;
    transition: all 1s linear;
    border-right: thick solid white;
}

/* Delete this if queue.seek() gets faster */

#login>fieldset {
    padding: 2rem;
    min-width: 250px;
    width: 100%;
    max-width: 500px;
    font-size: 1rem;
    border-radius: 5px;
}

#login>fieldset>legend {
    padding: 0 .5rem;
    font-size: 2rem;
}

#login>fieldset input,
#login>fieldset select {
    padding: .5rem;
    border-radius: 5px;
    border: 2px solid var(--tritiary);
}

#loginGuildBtn {
    padding: .5rem;
    background: var(--dodong-secondary);
    border: none;
    color: white;
    font-size: 1.5rem;
    opacity: 0.9;
    border-radius: 5px;
}

#loginGuildBtn:hover {
    opacity: 1;
}

#loginGuildBtn:active {
    background-color: var(--dodong-primary);
}

#add_song input {
    width: 100%;
    padding: .5rem .5rem;
    border-radius: 10px;
    background-color: var(--secondary);
    color: white;
    box-shadow: inset 0px 0px 10px 5px var(--primary);
    border: none;
    font-size: 1rem;
    font-family: monospace;
}

/* i'm crap at styling stuff so ill leave these to u hehe */
.searchResult {
    border-bottom: thin dashed white;
    display: grid;
    grid-template-columns: 100px 1fr 50px;
    padding: .5rem 0;
    grid-gap: .5rem;
}

.searchResult a {
    text-decoration: none;
    color: deepskyblue;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.searchResult img {
    width: 100px;
}

.searchResult a:visited {
    color: deeppink;
}

.searchResult:hover {
    background: var(--tritiary);
}

.addResult {
    border: none;
    background: transparent;
    display: none;
}

.searchResult:hover .addResult {
    display: initial;
}


@media (orientation: portrait) {
    #dodongLogo {
        background-image: url(../pictures/dodong.svg);
        height: 125px;
        width: 200px;
        align-self: center;
        background-position: center;
    }

    #dodongLogo+div {
        display: none;
    }

    #nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #main_upper {
        flex-direction: column;
    }

    html,
    body {
        overflow-y: auto;
    }
}