#dodongLogo {
    background-image: url(../pictures/dlogoonly.svg);
    height: 150px;
    width: 150px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 0;
}

#dodongLogo + div {
    font-size: 2.2rem;
    text-align: center;
    color: var(--dodong-secondary);
}

#nav {
    background: var(--secondary);
}

#pageCont {
    position: relative;
}

#pageCont > div{
    flex-grow: 1;
}

#player-container {
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    flex-grow: 1;
}

#control-container {
    width: 100%;
    max-width: 200px;
}

#control-container button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--tritiary);
    color: white;
}

#control-container button:last-of-type {
    width: 40px;
    height: 40px;
}

#playpauseButton {
    padding-left: .3rem;
}

#playpauseButton.paused {
    padding-bottom: .5rem;
    padding-left: 0rem;
}

.queue_container {
    flex-grow: 1 1 auto;
}

.queue_item {
    font-size: 1rem;
    font-family: monospace;
    padding: .5rem 0;
    color: white;
    border-bottom: thin dashed white;
}

.queue_item > span:first-child {
    display: flex;
    align-items: center;
}

.queue_item > span:last-child {
    display: flex;
    justify-content: space-between;
}

.queue_item > span:first-child > span:first-child {
    font-family: Bebas;
    font-size: 1.5rem;
    margin-right: .5rem;
}

#connectionStatus {
    background: var(--dodong-primary);
    position: absolute;
    top: 0;
    right: 0;
    padding: .5rem;
    border-bottom-left-radius: 10px;
}

.fade {
    transition: all 1s ease-in-out;
}

.radio-type1 {
    display: flex;
}

.radio-type1 input {
    display: none;
}

.radio-type1 input:checked + label {
    background: var(--dodong-secondary);
    color: var(--primary);
}

.radio-type1 input:checked:first-of-type + label {
    background: var(--dodong-primary);
}

.radio-type1 label {
    /* font-size: 1.2rem; */
    width: 40px !important;
    height: 40px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#queue-container.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: monospace;
    color: grey;
}

#navCont {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
}

#navCont button {
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    background: transparent;
    color: var(--tritiary);
    border: none;
    padding: 0.5rem;
    font-weight: lighter;
}

#navCont button.selected {
    color: #cecece;
}

#add_song input{
    width: 100%;
    padding: .5rem .5rem;
    border-radius: 10px;
    background-color: var(--secondary);
    color: white;
    box-shadow: inset 0px 0px 10px 5px var(--primary);
    border: 2px solid var(--tritiary);
    font-size: 1rem;
    font-family: monospace;
}

@media (orientation: portrait) {
    #dodongLogo {
        background-image: url(../pictures/dodong.svg);
        height: 125px;
        width: 200px;
        align-self: center;
        background-position: center;
    }
    #dodongLogo + div {
        display: none;
    }
    #mainCont {
        flex-direction: column;
    }
    #nav {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 150px;
    }
    html,body {
        overflow-y: auto;
    }
}